* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}
h3{
	 text-align: center;
	 margin-top: 150px;
}
h2{
	text-align: center;
}
.bo{
	margin-top: 150px;
}
.ma{
	margin-top: 150px;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
#header{
	width:40%;
}
form.sam{
	
	width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
#form_control{
	width: 40%;
}
.input_group{
	display: block;
	width:90%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	 
}
.form-but{
	padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
a.sim{
	margin-left: 1px;
	color: black;
}
a#sim{
	margin-left: 550px;
}
echo{
	font-size: 25px;
}